

.foto-perfil {
    border-radius: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}
h1 {
    margin-top: 20px;
}
h2 {
    font-size: 18px;
    margin-top: 20px;
    }
body {
    background: linear-gradient(slateblue, lightblue);
    font-family: 'Trebuchet MS';
    color: white;
    text-align: center;
    margin: 50px;
}
a {
    background-color: #ffffffc4;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    color: slateblue;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease; 
    width: 150px;
    padding: 3px 10px;
  }
  a:hover {
    color: white;
    background-color: slateblue;
  }
  @keyframes bounce {
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    }
    .Projetos {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      margin: 10px;
    }
    .listas {
      text-align: justify;
      background-color: #5d1dbdc4;
      border-radius: 0 50px 0 50px;
      width: 400px;
      max-width: 80%;
      margin: 10px auto 10px auto;
      padding: 10px 0 10px 0;
    }
    li {
      text-align: justify;
      width: 200px;
      margin: 0;
      
    }
    ul {
   width: 50%;
    }
    .titulo-lista {
      font-size: 20px;
      margin: 10px;
      text-align: center;
      width: 50%;
    }
    h3 {
      font-size: 18px;
      margin-top: 50px;
      color: black;
      text-decoration: underline;
      padding: 1px;
    }
.lista-secundaria {
  font-size: 12px;
  width: 20%;
}
.display img {
  display: inline;
}
.listas .titulo-lista .lista-secundaria li {
  width: 20%;
}